body {
	color: #f3f3f3;
	background-color: #444443;
	font-family: 'Space Mono', monospace;
	padding-left: 1%;
	margin: auto;
	padding-right: 1%;
	touch-action: auto;
}


p {
	font-size: 20px;
	font-family: 'Space Mono', monospace;
	
}

.clarification {
	font-family: 'Space Mono', monospace;
	font-style: italic;
	font-size: 75%;

}

h1 {
	font-size: 55px;
	font-style: bold;
	font-family: 'Space Mono', monospace;
	letter-spacing: 2px;
	max-width: 100%;
}


h2 {
	font-family: 'Space Mono', monospace;
	font-size: 35px;

}


h3 {
	font-family: 'Space Mono', monospace;
	font-size: 30px;
	padding-left: : 2.5%;
}


a {
	font-family: 'Space Mono', monospace;
	color: #c6c6c6;
	letter-spacing: 2px;
	text-decoration: none;

}

a:hover, a:focus {
	color: #fff;
}

a:active {
	color: red;
}


li {
	padding-left: 2.5%;
	font-family: 'Space Mono', monospace;
	list-style: none;
}

li p {
	font-family: 'Space Mono', monospace;
	padding-left: 2.5%;
}


footer p {
	font-style: italic;
	font-size: 13px;
	text-align: right;
	padding-top: 15px;
	padding-right: 1%;
	color: #646464;
}

footer a {
	color: #646464;
}

footer a:hover {
	text-decoration: none;
}

.home {
	
	font-size: 30px;
	font-weight: bold;

}

/* 
.JSdiv a {
	color: black;
}

.JSdiv {
	margin-top: 20px;
	width: 900px;
	height: 400px;
	font-size: 15px;
	background-color: grey;
	transition: background-color 2s, font-size 2s, font-weight 2s;
}

.JSdiv.white {
	background-color: white;
	font-size: 55px;
	font-weight: bold;
}
*/

.video-container {
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: column;
}


.labnol {
	min-width: auto;
    min-height: auto;
	max-width: 100%;
	max-height: 100%;
	table-layout: auto;
	overflow: hidden;
	border-collapse: collapse;
	align-content: center;
}

